@import url("reset.css");

:root {
  --accent: #0af;
}

body,
html > main {
  margin: 0;
}

.card .title, .card:hover::before, #app [data-state="open"] {
  color: var(--accent);
}

@media screen and (min-width: 600px), print {
  .card {
    padding: 8px;

    &:focus {
      outline: none;
    }
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Inter";
  src: url(inter.woff2);
}

.a, /* note */ .b {
  margin: 0;
}

a:not(.external, .internal) {
  text-decoration: none;
}

@-webkit-keyframes spin {
  to { transform: rotate(1turn); }
}
